@model AdsBoard.WebUI.Models.PostViewModel

@{
    ViewBag.Title = "Details2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            <a href="#">
                <img class="img-thumbnail" width="750" height="300" src="@Url.Action("GetImage", "Ad",new { Model.Advertisement.AdId})" />
            </a>
        </div>
        <div class="col-lg-6">
            <h2 class="card-title">@Model.Advertisement.Headline</h2>
            <p class="card-text">@Model.Advertisement.Details</p>
        </div>
    </div>
</div>
@using (Html.BeginForm("PostComment", "Comment", new { adId = Model.Advertisement.AdId }))
{
    <div class="card my-4">
        <h5 class="card-header">Залиште повідомлення:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="text" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Зберегти</button>
                @Html.ActionLink("Відмінити", "List", null, new { @class = "btn btn-default" })
            </form>
        </div>
    </div>
}

@if (Model.Comments.Count() != 0)
{
    foreach (var c in Model.Comments)
    {
        <div class="row">
        <div class="media-left col-1">
            <a href="#">
                <img class="media-object img-rounded" src="~/Content/Images/avatar.jpg" alt="...">
            </a>
        </div>
        <div class="alert alert-success col-8" role="alert">

            <h5 class="mt-0 alert-heading">@c.Name</h5>
            @c.Text
        </div>
            </div>

    }
}
else
{
    <p> Немає коментарів </p>
}


